<div id="payment-message"
     role="alert"
     data-commerce--checkout-target="paymentMessage"
     class="hidden bg-red-100 dark:bg-red-900 py-4 px-6 mb-6 rounded-md text-red-500 dark:text-red-400 font-medium"></div>
