@import "tailwindcss";

@source "../../../app/views/**/*.html.erb";
@source "../../../app/components/**/*.{rb,erb,html}";
@source "../../../app/components/**/*.{rb,erb,html}";

/* Define your colors and theme variables here */
@theme {
  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-950: var(--color-indigo-950);

  --color-primary-light-50: var(--color-emerald-50);
  --color-primary-light-100: var(--color-emerald-100);
  --color-primary-light-200: var(--color-emerald-200);
  --color-primary-light-300: var(--color-emerald-300);
  --color-primary-light-400: var(--color-emerald-400);
  --color-primary-light: var(--color-emerald-400);
  --color-primary-light-500: var(--color-emerald-500);
  --color-primary-light-600: var(--color-emerald-600);
  --color-primary-light-700: var(--color-emerald-700);
  --color-primary-light-800: var(--color-emerald-800);
  --color-primary-light-900: var(--color-emerald-900);
  --color-primary-light-950: var(--color-emerald-950);

  --color-secondary-50: var(--color-emerald-50);
  --color-secondary-100: var(--color-emerald-100);
  --color-secondary-200: var(--color-emerald-200);
  --color-secondary-300: var(--color-emerald-300);
  --color-secondary-400: var(--color-emerald-400);
  --color-secondary-500: var(--color-emerald-500);
  --color-secondary: var(--color-emerald-500);
  --color-secondary-600: var(--color-emerald-600);
  --color-secondary-700: var(--color-emerald-700);
  --color-secondary-800: var(--color-emerald-800);
  --color-secondary-900: var(--color-emerald-900);
  --color-secondary-950: var(--color-emerald-950);

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);
}

/* Your custom utilities go here */

@utility btn {
  padding: --spacing(2) --spacing(3.5) --spacing(2) --spacing(3.5);
  border-radius: var(--radius-sm);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: --spacing(2.5);
}

@utility btn-primary {
  background-image: linear-gradient(to top right, var(--color-primary), var(--color-primary-900));
  color: var(--color-white);

  @variant hover {
    background-image: linear-gradient(to top right, var(--color-primary-400), var(--color-primary-900));
  }
}

@utility btn-secondary {

 /*
  background-color: var(--color-gray-200);
  color: var(--color-gray);

  @variant hover {
    background-color: var(--color-gray-400);
    color: var(--color-black);
  }
  */

  background-image: linear-gradient(to top right, var(--color-secondary), var(--color-secondary-900));
  color: var(--color-white);

  @variant hover {
    background-image: linear-gradient(to top right, var(--color-secondary-400), var(--color-secondary-900));
  }

}

@utility btn-ghost {
  background-color: transparent;
  color: var(--color-primary);

  @variant hover {
    background-color: var(--color-gray-100);
    color: var(--color-gray-700);
  }
}

@utility btn-large {
  font-size: var(--text-lg);
  padding: --spacing(3.5) --spacing(6);
  gap: --spacing(3.5);
}

@utility btn-small {
  font-size: var(--text-sm);
  padding: --spacing(1.5) --spacing(3);
  gap: --spacing(2);
}

@layer components {
  .btn-primary i {
    opacity: 0.7;
  }

  .btn.cursor-default {
    cursor: default;
  }
}
