<div>
  <%= render "shared/components/callout",
    headline_text: "About Us",
    link_container: true,
    icon_name: nil do %>
    We are a small team of proferssion movers and software developers located in San Francisco, California and Portland, Oregon.
  <% end %>
</div>
