<%= render "shared/components/callout",
    headline_text: "Welcome to Arrowline Moving ",
    link_container: true,
    link_path:  new_registration_path,
    container_margin:  'm-4',
    icon_name: nil  do %>
  <div class="flex justify-center p-4">
    <%= image_tag 'moving-2.jpg', class: "w-[80vw] h-auto"   -%>
   </div>
<% end %>

<div class="grid grid-cols-2 gap-4">

<%= render "shared/components/callout",
    headline_text: "Looking for a mover you can trust?",
    link_container: true,
    link_path:  new_registration_path,
    container_margin:  'm-4',
    icon_name: "house" do %>
    Sign up and meet trusted professionals who will help you get where you are going.
<% end %>

<%= render "shared/components/callout",
    headline_text: "Are you a mover with a reputation for integrity?",
    link_container: true,
    link_path:  new_registration_path,
    container_margin:  'm-4',
    icon_name: "truck" do %>
    Sign up and meet people who would like to hire you!
<% end %>

</div>
