<% if rfp.is_new? && rfp.ready_to_publish? %>
  <%= render "shared/components/callout",
            headline_text: "Your job request is ready to publish",
            link_container: true,
            link_path: publish_rfp_path(rfp),
            button_text: "Publish!",
            button_icon: "arrow-right",
            button_icon_position: "after",
            icon_name: "truck" do %>
    <p> Once your request is published, our network of providers will see it and you will start receiving bids.</p>
    <p>Upon accepting a bid, you will be asked to pay a 10% deposit. This deposit will be applied moving cost. </p>
    <p>Example: If the accepted job bid is $1000. 
            You will be asked to pay a $100 deposit to confirm your reservation. 
            Upon completion of the job, you will pay the moving services provider the remaining balance. 
            In this example, you will be responsible to pay the provider $900 to fulfill the terms of the contract.
    </p>
  <% end %>
<% end %>

<% if rfp.published? %>
  <%= render "shared/components/callout",
            headline_text: "Your job request is published!",
            link_container: true,
            link_path: unpublish_rfp_path(rfp),
            button_text: "Un-publish",
            button_icon: "arrow-right",
            button_icon_position: "after",
            icon_name: "truck" do %>
    <p> Once your request is published, our network of providers will see it and you will start receiving bids.</p>
    <p>Upon accepting a bid, you will be asked to pay a 10% deposit. This deposit will be applied moving cost. </p>
    <p>Example: If the job bid is $1000. 
            You will be asked to pay a $100 deposit to confirm your reservation. 
            Upon completion of the job, you will pay the moving services provider the remaining balance. 
            In this example, you will be responsible to pay the provider $900 to fulfill the terms of the contract.
  <% end %>
<% end %>
