<%= render "shared/components/listings/listing",
           listing_link: rfp_path(rfp),
           title: rfp.load_address,
           description: t('scaffold.created_ago', time: time_ago_in_words(rfp.created_at), default: 'Created %{time} ago') do %>
           <p> <%= rfp.type -%> </p>
           <p> <%= rfp.user.email_address -%> </p>
  <%= render "rfp_settings", rfp: rfp %>
<% end %>
