<div class="fixed bottom-0 left-0 z-50 bg-red-500 text-white font-medium space-y-2 rounded-tr px-3 pt-2 pb-3">
  <div class="text-sm">
    <%= t('admin.users.impersonating', default: 'Impersonating') %> <%= impersonated_user.name %>
  </div>
  <div>
    <%= button_to stop_impersonating_user_path(id: impersonated_user.id),
                  method: :delete,
                  class: "cursor-pointer bg-white text-red-500 text-sm px-2 pt-[3px] pb-[4px] rounded
                          hover:text-red-600 hover:bg-red-200" do %>
      <span>
        <%= t('admin.users.stop_impersonating', default: 'Stop Impersonating') %>
      </span>
    <% end %>
  </div>
</div>
